<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="card" style="width: 354rem;">
        <header class="card-header">
            <p class="card-title">알림</p>
            <button class="button close-modal">
                <svg class="icon is-x is-large is-dark-gray">
                    <use href="#icon-x"></use>
                </svg>
            </button>
        </header>
        <section class="card-body">
            <p class="card-description">
                <svg class="icon is-exclamation-circle">
                    <use href="#icon-exclamation-circle"></use>
                </svg>
                선택한 요청을 삭제하시겠습니까?
            </p>
        </section>
    </div>
</div>