<div class="field is-grouped">
    <div class="control is-select{{has-error}}" style="max-width: 180rem;">
        <select class="select">
            <option selected disabled>인사</option>
            <option>옵션 텍스트</option>
            <option>옵션 텍스트</option>
            <option>옵션 텍스트</option>
        </select>
    </div>
</div>