<!-- 필요에 따라 div를 form으로 바꿔 사용 -->
<div class="form is-grown-vertically">
    <div class="columns has-space-between">
        <h2 class="table-title is-second">
            <span class="data-count">
                총
                <strong>26</strong>
                건
            </span>
        </h2>
        <div class="buttons">
            <button class="button has-large-gap-right is-outline is-secondary">
                <svg class="icon is-excel">
                    <use href="#icon-excel"></use>
                </svg>
                <span>엑셀다운로드</span>
            </button>
            <button class="button is-outline is-primary">추가</button>
            <button class="button is-outline is-primary">삭제</button>
            <button class="button is-outline is-primary">취소</button>
            <button class="button is-filled is-primary">저장</button>
        </div>
    </div>
    <div class="ustra-grid is-grown-vertically">
        <div class="tui-grid-height-adjustment" style="height: calc(100% - 1rem);">
            <div class="tui-grid-wrap"></div>
        </div>
    </div>
    <div class="buttons is-right">
        <button class="button is-outline is-primary">추가</button>
        <button class="button is-outline is-primary">삭제</button>
        <button class="button is-outline is-primary">취소</button>
        <button class="button is-filled is-primary">저장</button>
    </div>
</div>
