<div class="field">
    <label class="{{type}}">
        <input type="{{type}}" name="{{type}}"/>
        <span class="input-button"></span>
        <span class="input-label">텍스트</span>
    </label>
</div>