<nav class="tabs is-regular" style="width: 330rem;">
    <div class="tab is-active">
        <a href="#none" class="tab-link">tab</a>
    </div>
    <div class="tab">
        <a href="#none" class="tab-link">tab</a>
    </div>
    <div class="tab">
        <a href="#none" class="tab-link">tab</a>
    </div>
</nav>
<div class="tab-contents is-regular is-grown-vertically">
    <div class="tab-content is-grown-vertically is-active">
    </div>
    <div class="tab-content is-grown-vertically">
    </div>
    <div class="tab-content is-grown-vertically">
    </div>
</div>
