<!-- 필요에 따라 div를 form으로 바꿔 사용 -->
<div class="form is-grown-vertically">
    <div class="ustra-tree is-grown-vertically" style="width: 330rem;">
        <div class="tui-tree-wrap is-grown-vertically"></div>
    </div>
</div>