<table class="table is-striped-vertically">
    <colgroup>
        <col style="width: 120rem;" />
        <col />
        <col style="width: 120rem;" />
        <col />
        <col style="width: 120rem;" />
        <col />
    </colgroup>
    <tbody>
        <tr>
            <th><span>사업장</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="서울(본사)" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>소속</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="전략기획팀" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>현부서배치일</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="2017-08-01" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
        </tr>
        <tr>
            <th><span>근무지</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="서울" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>직책/직위</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="팀장/부장" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>현직승진일</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="2017-08-01" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
        </tr>
        <tr>
            <th><span>직급</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="1급" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>입사구분</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="공채" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>입사일자</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="2016-08-01" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
        </tr>
        <tr>
            <th><span>직종</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="일반직" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>사원구분</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="사원" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
            <th><span>현직구분</span></th>
            <td>
                <div class="field">
                    <div class="control"><input value="재직" readonly="readonly"
                            class="input is-transparent" /></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>