<div class="control" style="max-width: 180rem;">
    <input class="input is-file" pattern="\S+.*" readonly />
    <button class="button delete-file">
        <svg class="icon is-x">
            <use href="#icon-x"></use>
        </svg>
    </button>
</div>
<label class="button is-outline is-secondary">
    <input class="file-input" type="file" />
    파일찾기
</label>