<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="card is-grown-vertically" style="width: 860rem; height: 563rem;">
        <header class="card-header">
            <p class="card-title">사원검색</p>
            <button class="button close-modal">
                <svg class="icon is-x is-large is-dark-gray">
                    <use href="#icon-x"></use>
                </svg>
            </button>
        </header>
        <section class="card-body is-grown-vertically">
        </section>
        <footer class="card-footer">
            <div class="buttons is-center">
                <button class="button is-large is-outline is-primary">취소</button>
                <button class="button is-large is-filled is-primary">확인</button>
            </div>
        </footer>
    </div>
</div>