<div class="field is-grouped">
    <div class="control" style="max-width: 180rem;">
        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
            <input class="input tui-startpicker-target" aria-label="Date">
            <span class="tui-ico-date"></span>
        </div>
        <div class="tui-startpicker-container"></div>
    </div>
    <span class="tilde">~</span>
    <div class="control" style="max-width: 180rem;">
        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
            <input class="input tui-endpicker-target" aria-label="Date">
            <span class="tui-ico-date"></span>
        </div>
        <div class="tui-endpicker-container"></div>
    </div>
</div>
