<div class="toast is-active" style="width: 236rem;">
    <p class="toast-body">
        <svg class="icon is-check-circle">
            <use href="#icon-check-circle-modal"></use>
        </svg>
        <span>삭제되었습니다.</span>
    </p>
</div>