<div class="tui-file-uploader" id="uploader">
    <div class="tui-file-uploader-header">
        <div class="buttons">
            <label class="button is-outline is-primary">
                <span class="tui-btn-txt">파일 찾기</span>
                <input class="tui-input-file" type="file" />
            </label>
            <button class="button remove-file is-outline is-secondary">삭제</button>
        </div>
        <span class="tui-file-uploader-msg">최대 500MB까지 첨부하실 수 있습니다.</span>
    </div>
    <div class="tui-js-file-uploader-list tui-js-file-uploader-dropzone tui-file-uploader-area">
        <div class="tui-dropzone-contents">
            <span class="tui-dropzone-msg">Drop files here.</span>
        </div>
    </div>
</div>