<div class="field">
    <div class="control" style="max-width: 180rem;">
        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
            <input class="input tui-datepicker-target">
            <span class="tui-ico-date"></span>
        </div>
        <div class="tui-datepicker-container"></div>
    </div>
</div>