<figure class="id-photo">
    <img src="../../assets/images/photo-rectangle@2x.jpg" alt="증명사진" />
    <label class="checkbox is-setting">
        <input type="file" class="checkbox" />
        <svg class="icon is-gear is-blue ">
            <use href="#icon-gear"></use>
        </svg>
    </label>
</figure>