<!-- 필요에 따라 div를 form으로 바꿔 사용 -->
<div class="form">
    <table class="table is-search">
        <colgroup>
            <col style="width: 110rem;" />
            <col />
            <col style="width: 110rem;" />
            <col />
            <col style="width: 110rem;" />
            <col />
            <col style="width: 140rem;" />
        </colgroup>
        <tbody>
            <tr>
                <th><span class="is-required">사번/성명</span></th>
                <td>
                    <div class="field is-grouped">
                        <div class="control" style="max-width: 180rem;"><input class="input" /></div>
                        <div class="control" style="max-width: 180rem;"><input class="input" /></div>
                        <button class="button is-search is-square is-outline is-secondary">
                            <svg class="icon is-magnifier is-blue">
                                <use href="#icon-magnifier"></use>
                            </svg>
                        </button>
                    </div>
                </td>
                <th><span class="is-required">사번/성명</span></th>
                <td>
                    <div class="field is-grouped">
                        <div class="control" style="max-width: 180rem;"><input class="input" /></div>
                        <div class="control" style="max-width: 180rem;"><input class="input" /></div>
                        <button class="button is-search is-square is-outline is-secondary">
                            <svg class="icon is-magnifier is-blue">
                                <use href="#icon-magnifier"></use>
                            </svg>
                        </button>
                    </div>
                </td>
                <th>
                    <label class="checkbox">
                        <input type="checkbox" />
                        <span class="input-button"></span>
                        <span class="input-label">퇴직자포함</span>
                    </label>
                </th>
                <td></td>
                <td>
                    <button class="button is-search">
                        <svg class="icon is-magnifier">
                            <use href="#icon-magnifier"></use>
                        </svg>
                        <span>조회</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>