<!DOCTYPE html>
<html lang="ko">
{{> head/index}}

<body>
    {{> header/noscript}}
    {{> header/navbar path=documentation document=" is-active"}}
    <div class="columns">
        {{> aside/index path=documentation road-map=" is-active"}}
        <main class="page">
            <header class="page-header">
                <nav class="breadcrumbs has-chevron-separator">
                    <a class="breadcrumb" href="../templates/">
                        <span class="icon is-home">
                            <svg>
                                <use href="#icon-home"></use>
                            </svg>
                        </span>
                    </a>
                    <a class="breadcrumb" href="./overview.html">Documentation</a>
                    <span class="breadcrumb">Road Map</span>
                </nav>
                <h1 class="page-title">
                    Road Map
                </h1>
            </header>
            <div class="page-body is-grown-vertically">
                <div class="columns">
                    <div class="column">
                        <div id="viewer"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {{> footer/index}}
    <script>
        $.get("../../markdown/road-map.md", function (md) {
            const viewer = new Ustra.Editor.factory({
                el: document.querySelector("#viewer"),
                initialValue: md,
                plugins: [Ustra.CodeSyntaxHighlight],
                viewer: true,
                previewStyle: "vertical",
                height: "auto"
            });
        });
    </script>
</body>

</html>
